.ant-drawer-wrapper-body {
  display: flex;
  flex-direction: column;

  > .ant-drawer-body {
    flex: 1;
    overflow: hidden;
    padding: 0;

    > .ant-row {
      height: 100%;
      padding: 16px;
      overflow: hidden;

      > div {
        height: 100%;
        display: flex;
        flex-direction: column;
        border: 1px solid #ddd;
        padding-top: 16px;
        padding-bottom: 16px;

        & + div {
          border-left: 0;
          padding-left: 0 !important;
          padding-right: 0 !important;
        }

        > h2 {
          padding: 0 16px;
        }

        > div {
          flex: 1;
          overflow: auto;
          overflow-x: hidden;
        }
      }
    }
  }
}

.editor {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  background: #f5f5f5;
  overflow: auto;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 10;
    height: 60px;
    padding: 15px 24px;

    background: #fff;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.06);
    border-bottom: rgba(0, 0, 0, 0.06);

    button {
      + button {
        margin-left: 1em;
      }
    }
  }

  > main {
    flex: 1;
    position: relative;
    overflow: hidden;
  }
}

// 组件选择区
.editor-components,
.editor-component-editor {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  width: calc(25% - 10px);
  height: 100%;
  background: #fff;
  transition: all ease-in-out 0.3s;

  box-shadow: 3px 0 16px rgba(0, 0, 0, 0.06);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;

    span {
      font-weight: 600;
    }

    i {
      cursor: pointer;
    }
  }

  main {
    padding: 0 24px 30px 24px;
    flex: 1;
    overflow: auto;
  }
}

.editor-components {
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    > li {
      position: relative;
      width: 50%;

      &:nth-of-type(2n + 1) {
        > div {
          border-right: 0;
        }
      }

      > div {
        position: relative;
        height: 160px;
        padding: 8px;
        overflow: hidden;
        border-width: 1px;
        border-style: solid;
        border-color: rgb(235, 235, 235);
        border-image: initial;
      }

      > p {
        text-align: center;
        height: 31px;
        line-height: 31px;
        text-align: center;
        color: rgb(91, 107, 115);
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &.is-hide {
    transform: translateX(-100%);
  }

  .ant-card + .ant-card {
    margin-top: 1em;
  }
}

.editor-component-editor {
  right: 0;

  &.is-hide {
    transform: translateX(100%);
  }

  div.jsoneditor {
    border-color: rgb(235, 235, 235);
  }

  div.jsoneditor-menu {
    border-color: rgb(235, 235, 235);
    background-color: rgb(235, 235, 235);
  }
}

// 预览区
.editor-preview {
  position: relative;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding: 15px 0 30px;
  display: flex;
  flex-direction: column;

  > header {
    padding-bottom: 10px;
    z-index: 10;
    text-align: right;

    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      border-radius: 50%;
      background: #fff;
    }
  }

  > main {
    flex: 1;
    background: #eae9ea;
    border: 1px solid #c8cdd0;

    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.04);
    overflow: auto;
    padding-bottom: 30px;

    li {
      opacity: 1 !important;
      visibility: visible !important;
    }

    .render-component__wrapper {
      position: relative;
      display: inline-block;
      width: 100%;
      height: auto;
      cursor: pointer;
      border: 1px dashed;
      border-color: #000;
      background: #fff;

      &.is-inner {
        position: absolute;
        left: 0px;
        top: 0;
        height: 100%;

        > .render-component__wrapper {
          height: 100%;
          margin: 0;
        }
      }

      &::before {
        position: absolute;
        right: 5px;
        top: 1px;
        color: inherit;
      }

      &:hover {
        border-color: #ff9f00;

        &::before {
          content: attr(data-info);
        }
      }

      &.is-preview {
        border: 0;
        margin: 0;
        padding: 0 !important;
        top: 0 !important;

        &::before {
          content: "";
        }
      }
    }

    .canary-componet_toolbar {
      position: absolute;
      transform: translateY(-100%);
      top: -10px;
    }
  }
}
