// .ant-drawer-wrapper-body {
//   display: flex;
//   flex-direction: column;

//   > .ant-drawer-body {
//     flex: 1;
//     overflow: hidden;
//     padding: 0;

//     > .ant-row {
//       height: 100%;
//       padding: 16px;
//       overflow: hidden;

//       > div {
//         height: 100%;
//         display: flex;
//         flex-direction: column;
//         border: 1px solid #ddd;
//         padding-top: 16px;
//         padding-bottom: 16px;

//         & + div {
//           border-left: 0;
//           padding-left: 0 !important;
//           padding-right: 0 !important;
//         }

//         > h2 {
//           padding: 0 16px;
//         }

//         > div {
//           flex: 1;
//           overflow: auto;
//           overflow-x: hidden;
//         }
//       }
//     }
//   }
// }

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
