.page-project {
  .project-subHeader {
    display: flex;
    justify-content: space-between;
    color: #415058;
    padding-bottom: 1rem;
  }

  .ant-col-8:nth-of-type(n + 4) {
    margin-top: 15px;
  }

  .project-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7rem;
    padding: 15px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 6px 0 #dedee4;
    transition: box-shadow 0.15s ease-out;
    cursor: pointer;

    &:hover {
      box-shadow: 0 12px 16px 0 rgba(65, 80, 88, 0.16);
    }

    header {
      display: flex;
      justify-content: flex-start;
      align-items: stretch;

      h2 {
        line-height: 2rem;
        padding-left: 1rem;
      }
    }

    footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #8d9ea6;
      padding-left: 2rem;
    }
  }

  .project-card-add {
    align-items: center;
    justify-content: center;
    color: #8d9ea6;
    font-size: 1.2em;

    > p {
      font-weight: 500;
      margin-top: 10px;
    }
  }
}
