.template {
  position: relative;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: all ease-in-out 0.3s;

  .template-content {
    padding-bottom: 65%;
    background-size: cover;
    background-position: 50% 0;
    background-size: 100%;

    img {
      max-height: 100%;
    }
  }

  p {
    text-align: center;
  }

  .template-title {
    overflow: hidden;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    font-size: 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 1em;
  }

  .template-desc {
    color: rgba(0, 0, 0, 0.45);
  }

  &:hover {
    border-color: #1890ff;
  }
}
